project:
  type: website
  output-dir: docs

website:
  title: "University of Pretoria, Honours Projects Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: Researchers.qmd
        text: Researchers
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
