project:
  type: website
  output-dir: docs

website:
  title: "UP Honours Projects"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: Researchers.qmd
        text: Researchers
      - href: app.qmd
        text: Application
      - href: about.qmd
        text: About

format:
  html:
    respect-user-color-scheme: true
    theme: 
      light: flatly
      dark: darkly
    toc: true
